<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h3>
    KaTeX Expression Angular Example
  </h3>
</div>


<katex-expression 
  expression='\int \dfrac{(log\ x)^3}{x}\ dx' 
  katex-options='{ "displayMode": true , "throwOnError": true }'>
</katex-expression>

<katex-expression id="expression"
    expression='\gte' 
    katex-options='{ "displayMode": true , "throwOnError": true }'>
</katex-expression>


<h3>Useful links</h3>
<ul>
  <li>
    <a target="_blank" rel="noopener" href="https://katex.org">KaTeX</a>
  </li>
  <li>
    <a target="_blank" rel="noopener" href="https://github.com/navsgh/katex-expression">KaTeX Expression</a>
  </li>
</ul>

